<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Housekeeper App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="text-align:center;margin-top:11%;">
            <img class="error-image" style="max-width: 50%;" src="/images/error.png">
            <h1 style="color:#484848;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">404 Error Page Not Found</h1>
        </div>
    </body>
</html>